*{
    margin: 0;
    padding: 0;
    outline: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }

/* All Common Css End */

/* =========Menu Part Start========= */
.main_menu {
	background: rgba(0,0,0,.3);
	border-bottom: 1px solid #928554e0;
	position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
    -webkit-transition: all linear .4s;
    transition: all linear .4s;
}
.navbar-brand{
    -webkit-transition: all linear .4s;
    transition: all linear .4s;
}
.navbar-nav{
    -webkit-transition: all linear .4s;
    transition: all linear .4s;
}
.add_main_menu{
    position: fixed;
    background: #222222;
    border: none;
    -webkit-transition: all linear .4s;
    transition: all linear .4s;
}
.logo_add{
    margin-left: -15px;
    -webkit-transition: all linear .4s;
    transition: all linear .4s;
}
.menu_add{
    margin-right: -15px;
    -webkit-transition: all linear .4s;
    transition: all linear .4s;
}
.add_menu_hight{
    padding-top: 12px!important;
    padding-bottom: 12px!important;
}

.navbar-nav li a {
	font-size: 16px;
	color: #ffffff;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
	padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 15px!important;
    margin-left: 15px!important;
    -webkit-transition: all linear .4s;
    transition: all linear .4s;
	position: relative;
}
.navbar-nav li a:hover{
    color: #fec600;
}
.navbar-nav li a::after {
	position: absolute;
	content: '';
	width: 70%;
	height: 3px;
	background: #fec600;
	left: 10px;
	bottom: -11px;
	transition: all linear .3s;
	opacity: 0;
}
.navbar-nav li .opacity_on::after{
    opacity: 1;
}
.navbar-nav li a:hover:after{
    opacity: 1;
}
/* =========Menu Part End =========*/


/* ==============Bennar Part Start============== */
#bennar {
	position: relative;
}
.bennar{
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
.bennar_overly {
	background: rgba(0,0,0,.6);
	padding-top: 245px;
	padding-bottom: 142px;
	position: relative;
}
.bennar_text h3{
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}
.bennar_text h1{
    color: #fec600;
    font-size: 56px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}
.bennar_text p{
    color: #f1f1f1;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    padding-top: 7px;
    padding-bottom: 50px;
}
.bennar_text .btn_left{
    background: #fec600;
    color: #000000;
    border: 1px solid #fec600;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    padding: 20px 35px;
    margin-right: 20px;
    display: inline-block;
}
.bennar_text .btn_right{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    padding: 20px 35px;
    border: 1px solid #ffffff;
    display: inline-block;
}
.bennar_text .btn_left:hover{
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
}
.bennar_text .btn_right:hover{
    background: #fec600;
    color: #000000;
    border: 1px solid #fec600;
}
#bennar .slidPrv4 {
	position: absolute;
	top: 48%;
	left: 60px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
    background: #ffffff;
	text-align: center;
	font-size: 16px;
    font-weight: bolder;
	padding-top: 10px;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
    z-index: 10;
}
#bennar .slidNext4 {
	position: absolute;
	top: 48%;
	right: 60px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background: #ffffff;
	text-align: center;
	font-size: 16px;
    font-weight: bolder;
	padding-top: 10px;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}
#bennar .slidPrv4:hover{
    background: #ffcc00;
}
#bennar .slidNext4:hover{
    background: #ffcc00;
}
/* ==============Bennar Part End============== */

/* ==============About Part Start============== */
#about {
	padding-bottom: 42px;
	box-shadow: 0 0 7px #666666;
    padding-top: 50px;
    padding-bottom: 50px;
}
.about_header h4{
    color: #111111;
    font-size: 35px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}
.about_header p{
    color: #353535;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
}
.main_circle{
    position: relative;
    margin-top: 297px;
    padding-bottom: 277px;
}
.main_circle .circle{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: 20px solid #ffffff;
    -moz-outline-radius: 50%;
    outline: 2px solid #333333;
    margin: 0 auto;
    position: relative;
}
.main_circle .circle .overly{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.425);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
}



.about_item{
    position: absolute;
    background: #eeeeee;
    text-align: center;
    padding: 30px;
    
}

.about_item h5{
    color: #111111;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}
.about_item p{
    color: #353535;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    padding-top: 20px;
    position: relative;
}

.about_top {
	width: 372px;
	padding-top: 35px;
	padding-bottom: 38px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	top: 7%;
	-webkit-transition: all linear .3s;
	transition: all linear .3s;
}
.about_top::before {
	position: absolute;
	content: '';
	height: 40px;
	width: 40px;
    left: 45%;
    bottom: -16px;
	background: #eeeeee;
	transform: rotate(45deg);
}
.about_top::after {
	position: absolute;
	content: '';
	height: 20px;
	width: 20px;
	border-radius: 50%;
	left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
	bottom: -57px;
	background: #333333;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}

.about_bottom {
	width: 372px;
	padding-top: 35px;
	padding-bottom: 38px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 4.5%;
	-webkit-transition: all linear .3s;
	transition: all linear .3s;
}
.about_bottom::before {
	position: absolute;
	content: '';
	height: 40px;
	width: 40px;
    right: 45%;
    top: -16px;
	background: #eeeeee;
	transform: rotate(45deg);
}
.about_bottom::after {
	position: absolute;
	content: '';
	height: 20px;
	width: 20px;
	border-radius: 50%;
	left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
	top: -57px;
	background: #333333;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}

.about_left{
    text-align: right;
    width: 372px;
    padding-top: 35px;
    padding-bottom: 38px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -2%;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}
.about_left::before {
	position: absolute;
	content: '';
	height: 40px;
	width: 40px;
    top: 45%;
    right: -16px;
	background: #eeeeee;
	transform: rotate(45deg);
}
.about_left::after {
	position: absolute;
	content: '';
	height: 20px;
	width: 20px;
	border-radius: 50%;
	top: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	right: -21%;
	background: #333333;
	-webkit-transition: all linear .3s;
	transition: all linear .3s;
}
.about_right{
    text-align: left;
    width: 372px;
    padding-top: 35px;
    padding-bottom: 38px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -2%;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}
.about_right::before {
	position: absolute;
	content: '';
	height: 40px;
	width: 40px;
    top: 45%;
    left: -16px;
	background: #eeeeee;
	transform: rotate(45deg);
}
.about_right::after {
	position: absolute;
	content: '';
	height: 20px;
	width: 20px;
	border-radius: 50%;
	top: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	left: -16%;
	background: #333333;
	-webkit-transition: all linear .3s;
	transition: all linear .3s;
}


.about_item:hover {
    filter: drop-shadow(0px 2px 3px #bdb3b3);
    -webkit-filter: drop-shadow(0px 2px 3px #bdb3b3);
    
}
.about_item:hover::after{
    background: #FFC33E;
    /* filter: drop-shadow(0px 2px 3px #bdb3b3); */
    /* -webkit-filter: drop-shadow(0px 2px 3px #bdb3b3); */

}
/* ==============About Part End============== */

/* =======Our Portfolio Part Start======= */
#portfolio{
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    background: url(../images/Portfolio-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#portfolio .port_overly {
	background: rgba(0,0,0,.3);
	padding-top: 72px;
	padding-bottom: 123px;
}
.portfolio_headar h3{
    color: #ffffff;
    font-size: 35px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}
.portfolio_headar p{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    width: 576px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.portfolio_item {
    position: relative;
    padding-bottom: 30px;
}
.portfolio_item .overly{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 0%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.712)!important;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
    opacity: 0;
}
.portfolio_item .overly .icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fec600;
    border: 1px solid #ffffff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50% ,-50%);
    transform: translate(-50% ,-50%);
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}
.portfolio_item .overly .icon:hover{
    background: #ffffff;
}
.portfolio_item .overly .icon:hover i{
    color: #000000;
}
.portfolio_item .overly a i{
    color: #ffffff;
    font-size: 35px;
    line-height: 50px;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}
.portfolio_item:hover .overly{
    opacity: 1;
    height: 100%;
}
/* =======Our Portfolio Part End======= */

/* ======Our Services Part Start====== */
#service {
	padding-top: 50px;
    padding-bottom: 100px;
    box-shadow: 0 0 7px #666666;
}
.service_header h3{
    color: #000;
    font-size: 35px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}
.service_header p{
    color: #353535;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    width: 575px;
    margin: 0 auto;
    padding-bottom: 40px;
}
/*Service Slider design Start */
.service_item .item_headimg h3{
    color: #000;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}
.line{
    position: relative;
}
.line::after{
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    background: url(../images/line.png) center no-repeat;
    background-size: cover;
    top: 0;
    left: 50%;
    z-index: -1;
}
.web_design .item_imag .item_img_op{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    background: #EDEDED;
    margin: 0 auto;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}
.web_design .item_imag .item_img_op img {
	margin-left: 12px;
	padding-top: 15px;
}
.web_design .service_text .service_details {
	background-color: #F0F0F0;
	padding: 50px 30px;
	border-radius: 3px;
	position: relative;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}
.web_design .service_text .service_details::after {
	position: absolute;
	content: "";
	width: 0px;
	height: 30px;
	left: -20px;
	top: 38%;
	border-radius: 5px;
	border-right: 21px solid #F0F0F0;
	border-bottom: 25px solid transparent;
	border-top: 21px solid transparent;
}

/* Graphic */
.graphic_design .item_imag .item_img_op{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    background: #EDEDED;
    margin: 0 auto;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}
.graphic_design .item_imag .item_img_op img {
	margin-left: 12px;
	padding-top: 15px;
}
.graphic_design .service_text .service_details {
	background-color: #F0F0F0;
	padding: 50px 30px;
	border-radius: 3px;
	position: relative;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}
.graphic_design .service_text .service_details::after {
	position: absolute;
	content: "";
	width: 0px;
	height: 30px;
	right: -20px;
	top: 38%;
	border-radius: 5px;
	border-left: 22px solid #F0F0F0;
	border-bottom: 25px solid transparent;
	border-top: 26px solid transparent;
}

/* Photography */
.photography .item_imag .item_img_op{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    background: #EDEDED;
    margin: 0 auto;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}
.photography .item_imag .item_img_op img {
	margin-left: 17px;
	padding-top: 15px;
}
.photography .service_text .service_details {
	background-color: #F0F0F0;
	padding: 50px 30px;
	border-radius: 3px;
	position: relative;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}
.photography .service_text .service_details::after {
	position: absolute;
	content: "";
	width: 0px;
	height: 30px;
	left: -24px;
	top: 38%;
	border-radius: 5px;
	border-right: 25px solid #F0F0F0;
	border-bottom: 25px solid transparent;
	border-top: 26px solid transparent;
}

.slick-center .item_imag .item_img_op{
    transform: scale(1.4);
    background: #ffcc00;
}
.slick-center .service_text .service_details {
	filter: drop-shadow( 0 0 5px #bfbfbf);
}
#service .slidPrv4 {
	position: absolute;
	top: -39px;
	left: 50%;
    transform: translateX(-50%);
	width: 38px;
	height: 38px;
	border-radius: 50%;
	border: 1px solid #000;
	text-align: center;
	font-size: 16px;
    font-weight: bolder;
	padding-top: 10px;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}
#service .slidNext4 {
	position: absolute;
	bottom: -39px;
	left: 50%;
    transform: translateX(-50%);
	width: 38px;
	height: 38px;
	border-radius: 50%;
	border: 1px solid #000;
	text-align: center;
	font-size: 16px;
    font-weight: bolder;
	padding-top: 10px;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}
#service .slidPrv4:hover{
    background: #ffcc00;
    border: 1px solid #ffcc00;
}
#service .slidNext4:hover{
    background: #ffcc00;
    border: 1px solid #ffcc00;
}
/* ==================== 
    service part css
===================== */

/* ====== Testimonial Part Start===== */
#testimoal{
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    background: url(../images/testimonial-bg.png) center no-repeat;
    background-size: cover;
}
#testimoal .testi_overly {
	padding-top: 180px;
	padding-bottom: 180px;
	background: rgba(0, 0, 0, 0.8);
}
.testi_img {
	padding-top: 8px;
}
.testi_img .img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #EAEAEA;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 20px;
    transform: scale(.7);
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
    -webkit-filter: grayscale(76%);
    filter: grayscale(76%);
    background: #d4d4d0;
    /* padding: 100px 0; */
}
.testi_deteils{
    background: #F0F0F0;
    padding: 30px 30px;
    margin-left: 40px;
    filter: drop-shadow(0px 2px 3px #bdb3b3);
    -webkit-filter: drop-shadow(0px 2px 3px #bdb3b3);
    position: relative;
    margin-top: 25px;
}
.testi_deteils::after {
	position: absolute;
	content: "";
	top: 50%;
	left: -29px;
	width: 35px;
	height: 35px;
	background: #F0F0F0;
	transform: rotate(45deg) translateY(-50%);
	border-bottom-left-radius: 16px;
	z-index: 30;
}
.testi_deteils h4{
    color: #333333;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}
.testi_deteils .atuograph{
    color: #131313;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: 'Kristi', cursive;
}
.testi_deteils > span i{
    color: #FFC240;
}
.slidPrv5{
    position: absolute;
    left: 50%;
    top: -37px;
    color: #ffffff;
    text-align: center;
	width: 38px;
	height: 38px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    padding-top: 10px;
    font-size: 18px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}
.slidNext5 {
	position: absolute;
	left: 50%;
	bottom: -37px;
	color: #ffffff;
	text-align: center;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	border: 1px solid #ffffff;
	padding-top: 10px;
	font-size: 18px;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
	-webkit-transition: all linear .3s;
	transition: all linear .3s;
}
.slidPrv5:hover{
    background: #ffcc00;
    border: 2px solid #ffcc00;
}
.slidNext5:hover{
    background: #ffcc00;
    border: 2px solid #ffcc00;
}
.slick-center .img{
    transform: scale(1);
    opacity: 1;
    background: #ffcc00;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.testi_item_images{
    position: relative;
}
.testi_img_slider{
    z-index: 100;
}
.testi_dag{
    position: absolute;
    left: 50%;
    top: 0;
    background: url(../images/testimonial-line.png);
    text-align: center;
	width: 1px;
	height: 100%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    z-index: 1;
}
/* ====== Testimonial Part End===== */







/* ===Pricing Plan Part Start=== */
#pricing{
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 0 7px #666666;
}
.pricing_heading h2{
    color: #000000;
    font-size: 35px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 10px;
}
.pricing_heading p{
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    width: 572px;
    margin: 0 auto;
    padding-bottom: 52px;
}
.pricing_item{
    position: relative;
    background: #F0F0F0;
}
.pricing_item .price_golla{
    position: absolute;
    background: #ffffff;
    left: 50%;
    top: 12%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:1px solid #000000;
    z-index: 20;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.pricing_item .price_golla .price_month {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	margin-top: 4px;
	margin-left: 4px;
	background: #333333;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}
.price_golla .price_month p {
	color: #ffffff;
	font-size: 29px;
	font-family: 'Raleway', sans-serif;
	padding-top: 10px;
}
.price_golla .price_month p sup {
	position: relative;
	font-size: 78%;
	line-height: 0;
	vertical-align: sub;
}
.price_golla .price_month > span{
    color: #ffffff;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    display: block;
}
.pricing_item .price_heading {
	background: #333333;
	clip-path: polygon(0px 0px, 100% 0, 100% 64%, 0 90%);
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}
.pricing_item .price_heading h3{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    padding-top: 25px;
    padding-bottom: 94px;
}
.pricing_item .price_body {
	padding-top: 50px;
}
.pricing_item .price_body ul li{
    color: #333333;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}
.pricing_item .price_btn {
	background: #333333;
	clip-path: polygon(0 36%, 100% 0, 100% 100%, 0% 100%);
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}
.pricing_item .price_btn a {
	display: block;
	text-align: center;
	color: #ffffff;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	padding-top: 42px;
	padding-bottom: 25px;
}
.pricing_item:hover .price_heading{
    background: #fec600;
}
.pricing_item:hover .price_month{
    background: #fec600;
}
.pricing_item:hover .price_btn{
    background: #fec600;
}
/* ===Pricing Plan Part End=== */

/* ======= Counter Part Start======= */
#counter{
    background: url(../images/countter-bg.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
}
#counter .count_overly {
	padding-top: 32px;
	padding-bottom: 32px;
	margin-top: 2.7%;
	background: rgba(0, 0, 0, 0.9);
}
.count_item .content {
	float: left;
	width: 198px;
	padding: 20px 0;
	margin-right: 30px;
	border: 1px solid #ffffff;
}
.count_item .content h4{
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    -webkit-transform: skewY(3deg);
    transform: skewY(3deg);
}
.count_item .content p{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    -webkit-transform: skewY(3deg);
    transform: skewY(3deg);
}
/* ======= Counter Part End======= */


/* =========Team Part Start========= */
#team {
	padding-top: 50px;
	padding-bottom: 50px;
	box-shadow: 0 0 7px #666666;
	margin-top: 35px;
}
.team_heading h2{
    color: #000000;
    font-size: 35px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 10px;
}
.team_heading p{
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    width: 572px;
    margin: 0 auto;
    padding-bottom: 52px;
}
.team_item{
    border: 1px solid #DCDCDC;
}
.team_img{
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);
}
.team_img .team_overly{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    background: #ffc340b6;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
    opacity: 0;
}
.team_img .team_overly > span{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    text-align: center;
}
.team_img .team_overly > span a{
    color: #000;
    font-size: 17px;
    line-height: 40px;
}
.team_item .team_content{
    padding: 25px 15px;
}
.team_item .team_content h4{
    color: #000;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 8px;
}
.team_item .team_content p{
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}
.team_item .team_sosial_icon {
	margin-top: -64px;
	padding-bottom: 30px;
    transform: scale(0);
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}
.team_item .team_sosial_icon .team_icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #000;
    text-align: center;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}
.team_item .team_sosial_icon .team_icon a{
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
}
.team_item:hover .team_overly{
    opacity: 1;
    height: 100%;
}
.team_item:hover .team_sosial_icon{
    transform: scale(1);
    margin-top: 0;
}
.team_icon:hover {
	background: #fec600;
	border: 1px solid #fec600 !important;
}
/* =========Team Part End========= */


/* ======= Brand Part Start======= */
#brand {
	padding-top: 25px;
	padding-bottom: 25px;
	background: #f0f0f0;
	-webkit-transform: skewY(-3deg);
	transform: skewY(-3deg);
	margin-top: 3%;
}
.brand_item .brand_logo {
	float: left;
	width: 198px;
	margin-right: 30px;

}
.brand_item .brand_logo .brand_img{
    padding: 35px 15px;
	border: 1px solid #CACACA;
}
.brand_item .brand_logo .brand_img img{
    height: 34Px!important;
}
.brand_item .brand_logo .brand_img:hover{
    border: 1px solid #fec600;
}
.slick-center .brand_img{
    border: 1px solid #fec600!important;
}
/* ======= brand Part End======= */

/* =====Footer Part Start ====*/
#footer{
    background: #333333;
}
#footer .footer_brand_logo {
	background: #333333;
	-webkit-transform: skewY(-3deg);
	transform: skewY(-3deg);
	padding-top: 26px;
	padding-bottom: 26px;
	border-bottom: 1px solid rgb(221, 218, 218);
}
#footer .footer_brand_logo .logo {
	width: 150px;
	height: 58px;
	margin: 0 auto;
	-webkit-transform: skewY(3deg);
	transform: skewY(3deg);
	position: relative;
}
#footer .footer_brand_logo::after {
	position: absolute;
	content: "";
	left: 0;
	top: 46%;
	width: 100%;
	height: 1px;
	box-shadow: 0px -14px 2px 0px #fff;
	-webkit-transform: skewY(3deg);
	transform: skewY(3deg);
	z-index: -1;
}
.foot_item{
    position: relative;
}
.foot_item span{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #ffcc00;
    text-align: center;
}
.foot_item > span i{
    line-height: 35px;
    display: block;
    color: #333333;
    font-size: 20px;
}
.foot_item p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}
.foot_item::after{
    position: absolute;
    content: "";
    right: -16px;
    top: 0;
    height: 100%;
    width: 1px;
    background: #fff;
}
.no_after::after{
    display: none;
}
.foot_sosial_icon h3{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    padding-top: 55px;
    padding-bottom: 25px;
}
.foot_sosial_icon .foot_icon{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #ffffff;
    text-align: center;
    margin-right: 25px;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}
.foot_sosial_icon .foot_icon i{
    line-height: 35px;
    color: #333333;
}
.foot_sosial_icon .foot_icon:hover{
    background: #fec600;
}
#copy{
    background: #282828;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
}
#copy p{
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
#copy p a{
    color: #fec600;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

/* ======Footer Part End ======*/
